<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>仪表盘</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2 class="mt-5">用户列表</h2>
      <ul class="list-group">
        {% for user in users %}
          <li class="list-group-item">{{ user.username }}</li>
        {% endfor %}
      </ul>
      <ul class="list-group">
        {% for user in users %}
          <li class="list-group-item">{{ user }}</li>
          <li class="list-group-item">
            <a href="{{ url_for('go_to_payment', user_id=user.id) }}" class="btn btn-primary mt-3">跳转到支付服务</a>
          </li>
        {% endfor %}
      </ul>
      <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
      <a href="{{ url_for('logout') }}" class="btn btn-primary mt-3">注销</a>
    </div>
  </body>
</html>
